@font-face {
  font-family: 'Bahnschrift';
  src: url('../font/bahnschrift.ttf') format('ttf');
}

.bg-sport {
  background: url('../images/sportive.png');
  background-position-x: center;
}

.yellow-border {
  border: solid #ffc107;
}

.font-title {
  font-family: 'Bahnschrift', system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.font-brand {
  color: #ffc107;
  font-family: 'Bahnschrift', system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: italic;
  font-weight: bold;
}

@media screen and ( max-width: 576px ) {
  .w-co {
    width: 100%;
  }

  .font-brand {
    font-size: 5vh;
  }

  .h-25 {
    min-height: 25vh;
  }
}

@media screen and ( min-width: 576px ){
  .w-co {
    width: 75%;
  }

  .font-brand {
    font-size: 7vh;
  }

  .h-25 {
    min-height: 25vh;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .h-25 {
    min-height: 30vh;
  }
}