{% extends 'base.html.twig' %}

{% block title %}Liste des partenaires{% endblock %}

{% block body %}
    <div class="container-md px-0">
        <div class="mt-5 px-sm-5">
            {% if 'ROLE_ADMIN' in app.user.roles %}
            <a role="button" href="{{ path('app_client_list') }}" class="btn btn-warning mt-3"><< Liste partenaires</a>
            {% endif %}
        </div>

        {% include 'client/_client.html.twig' %}

        {% include 'filter/_branch-filter.html.twig' %}

        {% for branch in branches %}
            {% if 'ROLE_ADMIN' in app.user.roles or 'ROLE_CLIENT' in app.user.roles or ('ROLE_BRANCH' in app.user.roles and branch
            .user.id == app.user.id) %}
            <div class="branch">
                {% include 'branch/_branch.html.twig' %}
                {% include 'branch/_branch-perms.html.twig' %}
            </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/plusMinusChange.js') }}"></script>
    <script src="{{ asset('js/branchIdFilter.js') }}"></script>
    <script src="{{ asset('js/branchActiveStatus.js') }}"></script>
{% endblock %}