{% extends 'base.html.twig' %}

{% block title %}Liste des partenaires{% endblock %}

{% block body %}
    <div class="container-md px-0">
        {% include 'filter/_client-filter.html.twig' %}

        <div id="clientList" class="row gx-5 px-sm-5"></div>

        <div class="row">
            <!-- Emplacement pagination -->
            <nav class="pagination-container d-flex justify-content-center">
                <div id="pagination-numbers">

                </div>
            </nav>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/filterClientName.js') }}"></script>
    <script src="{{ asset('js/filterClientId.js') }}"></script>
    <script src="{{ asset('js/activeStatus.js') }}"></script>
    <script src="{{ asset('js/pagination.js') }}"></script>
{% endblock %}
